@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --black: #1c2b2b;
    --blue: #31326f;
    --light-blue: #005490;
    --magenta: #9d0191;
    --pure-orange: #db6400;
    --grey: #eeeeee;
    --dark-grey: #222831;
    --green: #006400;
}

 body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--grey);
}

.container {
   max-width: 900px;
   margin: 0 auto;
   padding: 0 20px;
   margin-top: 8rem;
}

.text {
   text-align: center;
   margin-bottom: 2rem;
}

.tabs {
   display: flex;
   border: 1px solid var(--grey);
   overflow: hidden;
}

.tab-links {
   width: 100%;
   z-index: 1;
}

button.tab-link {
   padding: 1.1rem;
   width: 100%;
   font-size: 1.6rem;
   border: none;
   outline: none;
   border-bottom: 2px solid var(--pure-orange);
}

.active {
   background-color: var(--white);
}

.tab-contents {
   padding: 1rem;
}

.tab-content {
   display: none;
   animation: slide-right .5s ease 1;
}

.about {
   display: block;
}

@keyframes slide-right {
   0% {
      transform: translateX(-10rem);
   } 
   100% {
      transform: translatex(0);
   }
}

@media screen and (max-width: 600px) {
   .tab-links {
      width: 50%;
   }
}